:root {
  --color-black--rgb: 35, 31, 32;
  --color-black: #231F20;
  --color-white--rgb: 255, 255, 255;
  --color-white: #ffffff;
  --color-red--rgb: 209, 33, 15;
  --color-red: #D1210F;
  --color-grey-050--rgb: 61, 61, 61;
  --color-grey-050: #3D3D3D;
  --color-grey-100--rgb: 111, 111, 111;
  --color-grey-100: #6F6F6F;
  --color-grey-150--rgb: 189, 188, 191;
  --color-grey-150: #BDBCBF;
  --color-grey-200--rgb: 247, 247, 247;
  --color-grey-200: #F7F7F7;
  --color-green-100--rgb: 53, 163, 115;
  --color-green-100: #35A373;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media (max-width: 899px) {
  * {
    outline: none;
  }
}
body,
input,
textarea,
button,
select {
  font-family: "Inter", sans-serif;
}

body {
  --header: 0;
  --footer: 0;
}

body._lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

strong {
  font-weight: 500;
}

html,
body {
  position: relative;
  color: var(--color-black);
  background-color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1450px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 70px 0;
}

@media (max-width: 999px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 479px) {
  section {
    padding: 40px 0;
  }
}
section._grey {
  background-color: var(--color-grey-200);
}

h1,
.h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 65px;
  line-height: 115%;
  font-weight: 600;
  color: var(--color-black);
}

@media (max-width: 1279px) {
  h1,
  .h1 {
    font-size: 48px;
  }
}
@media (max-width: 999px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 32px;
  }
}
h1 strong,
.h1 strong {
  color: var(--color-red);
}

h2,
.h2 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 115%;
  color: var(--color-black);
}

@media (max-width: 1279px) {
  h2,
  .h2 {
    font-size: 28px;
  }
}
@media (max-width: 999px) {
  h2,
  .h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-weight: 500;
  line-height: 115%;
  color: var(--color-black);
  font-size: 24px;
}

@media (max-width: 1279px) {
  h3,
  .h3 {
    font-size: 22px;
  }
}
@media (max-width: 999px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--color-red);
  border: 1px solid var(--color-red);
  border-radius: 5px;
  transition: 0.2s ease;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  line-height: 115%;
  cursor: pointer;
  letter-spacing: 0em;
}

html:not(.v-mobile) .btn:hover {
  background: var(--color-white);
  color: var(--color-red);
}

html:not(.v-mobile) .btn:hover svg {
  stroke: var(--color-red);
}

html:not(.v-mobile) .btn:focus-visible {
  background: var(--color-white);
  color: var(--color-red);
}

html:not(.v-mobile) .btn:focus-visible svg {
  stroke: var(--color-red);
}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    padding: 12px 16px;
  }
}
.btn.btn-1 {
  background: transparent;
  color: var(--color-red);
}

html:not(.v-mobile) .btn.btn-1:hover {
  background: var(--color-red);
  color: var(--color-white);
}

html:not(.v-mobile) .btn.btn-1:hover svg {
  stroke: var(--color-white);
}

html:not(.v-mobile) .btn.btn-1:focus-visible {
  background: var(--color-red);
  color: var(--color-white);
}

html:not(.v-mobile) .btn.btn-1:focus-visible svg {
  stroke: var(--color-white);
}

.btn.btn-2 {
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

html:not(.v-mobile) .btn.btn-2:hover {
  background: var(--color-black);
  color: var(--color-white);
}

html:not(.v-mobile) .btn.btn-2:hover svg {
  stroke: var(--color-white);
}

html:not(.v-mobile) .btn.btn-2:focus-visible {
  background: var(--color-black);
  color: var(--color-white);
}

html:not(.v-mobile) .btn.btn-2:focus-visible svg {
  stroke: var(--color-white);
}

.btn.btn-3 {
  border: 1px solid var(--color-black);
  background: var(--color-black);
  color: var(--color-white);
}

html:not(.v-mobile) .btn.btn-3:hover {
  background: transparent;
  color: var(--color-black);
}

html:not(.v-mobile) .btn.btn-3:hover svg {
  stroke: var(--color-white);
}

html:not(.v-mobile) .btn.btn-3:focus-visible {
  background: transparent;
  color: var(--color-black);
}

html:not(.v-mobile) .btn.btn-3:focus-visible svg {
  stroke: var(--color-white);
}

.btn svg {
  width: 20px;
  height: auto;
  transition: 0.2s ease;
}

.swiper {
  --swiper-navigation-size: 16px;
  --swiper-navigation-top-offset: 0;
  --swiper-navigation-sides-offset: 0;
  --swiper-pagination-color: var(--color-red);
  --swiper-pagination-progressbar-bg-color: var(--color-grey-150);
}

.swiper-bottom {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .swiper-bottom {
    margin-top: 30px;
  }
}
.swiper-pagination {
  position: relative;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-left: 0;
  --swiper-pagination-right: 0;
  --swiper-pagination-top: 0;
}

.swiper-pagination-pages {
  white-space: nowrap;
  font-size: 14px;
}

.swiper-pagination-lock + .swiper-buttons {
  display: none;
}

.swiper-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.swiper-button-prev {
  position: relative;
  margin: 0 !important;
}

.swiper-button-prev:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0711 8.0001H0.928932' stroke='%23231F20' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.67419 13.7454L0.928952 8.00012L6.67419 2.25488' stroke='%23231F20' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-prev svg {
  display: none;
}

.swiper-button-next {
  position: relative;
  margin: 0 !important;
}

.swiper-button-next:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.928932 8.0001H15.0711' stroke='%23231F20' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.32581 13.7454L15.071 8.00012L9.32581 2.25488' stroke='%23231F20' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next svg {
  display: none;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 30px;
  border: 1px solid var(--color-grey-150);
  transition: 0.2s ease;
  border-radius: 5px;
  max-width: 195px;
  width: 100%;
}

.categoryCard span {
  font-size: 18px;
  transition: 0.2s ease;
  color: var(--color-black);
  line-height: 115%;
}

.categoryCard img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

html:not(.v-mobile) .categoryCard:hover {
  border: 1px solid var(--color-red);
  box-shadow: 0px 4px 15px 0px rgba(208, 138, 138, 0.2509803922);
}

html:not(.v-mobile) .categoryCard:hover span {
  color: var(--color-red);
}

html:not(.v-mobile) .categoryCard:focus-visible {
  border: 1px solid var(--color-red);
  box-shadow: 0px 4px 15px 0px rgba(208, 138, 138, 0.2509803922);
}

html:not(.v-mobile) .categoryCard:focus-visible span {
  color: var(--color-red);
}

.productCard {
  position: relative;
  border: 1px solid var(--color-grey-150);
  transition: border 0.2s ease, box-shadow 0.2s ease;
  border-radius: 5px;
  padding: 18px;
  width: 100%;
}

html:not(.v-mobile) .productCard:hover {
  border: 1px solid var(--color-red);
  box-shadow: 0px 4px 15px 0px rgba(208, 138, 138, 0.2509803922);
}

html:not(.v-mobile) .productCard:focus-visible {
  border: 1px solid var(--color-red);
  box-shadow: 0px 4px 15px 0px rgba(208, 138, 138, 0.2509803922);
}

.productCard__labels {
  position: absolute;
  top: 30px;
  left: 0;
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  z-index: 2;
}

.productCard__labels-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px 8px;
  font-size: 11px;
  line-height: 100%;
  font-weight: 600;
  color: var(--color-white);
  border: 1px solid rgba(var(--color-white--rgb), 0.6);
  border-radius: 5px;
  background-color: var(--color-green-100);
}

.productCard__labels-item.red {
  background-color: var(--color-red);
}

.productCard__image {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 80%;
  border-radius: 5px;
  overflow: hidden;
}

.productCard__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s ease;
}

html:not(.v-mobile) .productCard__image:hover img {
  transform: scale(1.1);
}

html:not(.v-mobile) .productCard__image:focus-visible img {
  transform: scale(1.1);
}

.productCard__rating {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.productCard__status {
  font-size: 12px;
  color: var(--color-green-100);
  line-height: 121%;
}

.productCard__status.out-of-stock {
  color: var(--color-red);
}

.productCard__title {
  margin-top: 14px;
  display: flex;
  color: var(--color-black);
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s ease;
}

html:not(.v-mobile) .productCard__title:hover {
  color: var(--color-red);
}

html:not(.v-mobile) .productCard__title:focus-visible {
  color: var(--color-red);
}

.productCard__details {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--color-grey-100);
}

.productCard__bottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.productCard__price {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-red);
}

.productCard__price span {
  color: var(--color-grey-100);
  text-decoration: line-through;
  font-size: 14px;
}

.productCard__btn {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
}

.productCard__btn-cart {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.37474 2.03024C2.16243 2.1142 2 2.35798 2 2.59256C2 2.73803 2.07636 2.9203 2.1814 3.0255C2.22501 3.06916 2.54602 3.24585 2.89476 3.4181C3.2435 3.59035 3.55627 3.7601 3.58977 3.7953C3.64099 3.84909 3.76918 4.41206 4.39306 7.32297C4.90542 9.71357 5.15748 10.8361 5.20671 10.9465C5.36625 11.304 5.65547 11.5889 6.01728 11.7451L6.17541 11.8133L9.88338 11.8224C12.6192 11.8292 13.6311 11.8226 13.743 11.7974C13.9905 11.7416 14.2265 11.6041 14.4344 11.3945C14.7637 11.0626 14.7385 11.1483 15.3985 8.11619C15.7177 6.64985 15.9862 5.36133 15.9951 5.25283C16.0545 4.5317 15.5683 3.82302 14.8983 3.65428C14.7448 3.61563 14.169 3.60974 10.5097 3.60935C5.89309 3.60888 6.19416 3.59745 6.01444 3.77986C5.89733 3.89873 5.84983 4.01795 5.84776 4.1981C5.84523 4.41831 5.93695 4.59279 6.1181 4.71243L6.25376 4.80201L10.4831 4.81674L14.7124 4.83147L14.7928 4.92769C14.8515 4.99786 14.8733 5.05389 14.8733 5.13476C14.8733 5.2946 13.7558 10.4034 13.7015 10.492C13.6006 10.6565 13.7614 10.6497 9.97987 10.6497C6.24814 10.6497 6.38452 10.6549 6.26132 10.5072C6.22333 10.4616 6.01111 9.51946 5.47063 6.99712C4.97638 4.69051 4.70803 3.49378 4.65989 3.38143C4.55792 3.14339 4.39402 2.92849 4.21058 2.79227C3.99301 2.63071 2.75011 2.02135 2.60044 2.00285C2.5308 1.99424 2.43696 2.00564 2.37474 2.03024ZM7.25059 13.0115C6.69693 13.1235 6.22178 13.6566 6.12995 14.2688C6.04623 14.8272 6.29286 15.422 6.74057 15.7415C7.167 16.0458 7.69794 16.081 8.16035 15.8356C8.91371 15.4358 9.16483 14.4087 8.69355 13.6546C8.3807 13.1539 7.80805 12.8987 7.25059 13.0115ZM12.1302 13.0115C11.9013 13.0578 11.6056 13.2282 11.4315 13.4143C11.1798 13.6833 11.0574 13.9448 11.0159 14.3027C10.9235 15.0987 11.4087 15.8091 12.1558 15.9715C13.076 16.1715 13.9418 15.2892 13.807 14.289C13.6918 13.4342 12.9257 12.8505 12.1302 13.0115ZM7.75481 14.0049C7.88116 14.0738 7.93916 14.1407 7.99389 14.2807C8.04996 14.4241 8.0466 14.5852 7.98443 14.7298C7.92419 14.87 7.86272 14.9328 7.72603 14.9938C7.54709 15.0737 7.31259 15.0331 7.17284 14.8981C6.97129 14.7033 6.97074 14.2808 7.17185 14.0928C7.33219 13.9428 7.57405 13.9063 7.75481 14.0049ZM12.7156 14.0562C12.87 14.188 12.9208 14.3114 12.9094 14.5274C12.8977 14.7504 12.8032 14.8997 12.6184 14.9871C12.147 15.2099 11.7047 14.644 11.9901 14.1832C12.1435 13.9354 12.5009 13.8729 12.7156 14.0562Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  transition: 0.2s ease;
}

html:not(.v-mobile) .productCard__btn:hover .productCard__btn-cart {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.37474 2.03024C2.16243 2.1142 2 2.35798 2 2.59256C2 2.73803 2.07636 2.9203 2.1814 3.0255C2.22501 3.06916 2.54602 3.24585 2.89476 3.4181C3.2435 3.59035 3.55627 3.7601 3.58977 3.7953C3.64099 3.84909 3.76918 4.41206 4.39306 7.32297C4.90542 9.71357 5.15748 10.8361 5.20671 10.9465C5.36625 11.304 5.65547 11.5889 6.01728 11.7451L6.17541 11.8133L9.88338 11.8224C12.6192 11.8292 13.6311 11.8226 13.743 11.7974C13.9905 11.7416 14.2265 11.6041 14.4344 11.3945C14.7637 11.0626 14.7385 11.1483 15.3985 8.11619C15.7177 6.64985 15.9862 5.36133 15.9951 5.25283C16.0545 4.5317 15.5683 3.82302 14.8983 3.65428C14.7448 3.61563 14.169 3.60974 10.5097 3.60935C5.89309 3.60888 6.19416 3.59745 6.01444 3.77986C5.89733 3.89873 5.84983 4.01795 5.84776 4.1981C5.84523 4.41831 5.93695 4.59279 6.1181 4.71243L6.25376 4.80201L10.4831 4.81674L14.7124 4.83147L14.7928 4.92769C14.8515 4.99786 14.8733 5.05389 14.8733 5.13476C14.8733 5.2946 13.7558 10.4034 13.7015 10.492C13.6006 10.6565 13.7614 10.6497 9.97987 10.6497C6.24814 10.6497 6.38452 10.6549 6.26132 10.5072C6.22333 10.4616 6.01111 9.51946 5.47063 6.99712C4.97638 4.69051 4.70803 3.49378 4.65989 3.38143C4.55792 3.14339 4.39402 2.92849 4.21058 2.79227C3.99301 2.63071 2.75011 2.02135 2.60044 2.00285C2.5308 1.99424 2.43696 2.00564 2.37474 2.03024ZM7.25059 13.0115C6.69693 13.1235 6.22178 13.6566 6.12995 14.2688C6.04623 14.8272 6.29286 15.422 6.74057 15.7415C7.167 16.0458 7.69794 16.081 8.16035 15.8356C8.91371 15.4358 9.16483 14.4087 8.69355 13.6546C8.3807 13.1539 7.80805 12.8987 7.25059 13.0115ZM12.1302 13.0115C11.9013 13.0578 11.6056 13.2282 11.4315 13.4143C11.1798 13.6833 11.0574 13.9448 11.0159 14.3027C10.9235 15.0987 11.4087 15.8091 12.1558 15.9715C13.076 16.1715 13.9418 15.2892 13.807 14.289C13.6918 13.4342 12.9257 12.8505 12.1302 13.0115ZM7.75481 14.0049C7.88116 14.0738 7.93916 14.1407 7.99389 14.2807C8.04996 14.4241 8.0466 14.5852 7.98443 14.7298C7.92419 14.87 7.86272 14.9328 7.72603 14.9938C7.54709 15.0737 7.31259 15.0331 7.17284 14.8981C6.97129 14.7033 6.97074 14.2808 7.17185 14.0928C7.33219 13.9428 7.57405 13.9063 7.75481 14.0049ZM12.7156 14.0562C12.87 14.188 12.9208 14.3114 12.9094 14.5274C12.8977 14.7504 12.8032 14.8997 12.6184 14.9871C12.147 15.2099 11.7047 14.644 11.9901 14.1832C12.1435 13.9354 12.5009 13.8729 12.7156 14.0562Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
}

html:not(.v-mobile) .productCard__btn:focus-visible .productCard__btn-cart {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.37474 2.03024C2.16243 2.1142 2 2.35798 2 2.59256C2 2.73803 2.07636 2.9203 2.1814 3.0255C2.22501 3.06916 2.54602 3.24585 2.89476 3.4181C3.2435 3.59035 3.55627 3.7601 3.58977 3.7953C3.64099 3.84909 3.76918 4.41206 4.39306 7.32297C4.90542 9.71357 5.15748 10.8361 5.20671 10.9465C5.36625 11.304 5.65547 11.5889 6.01728 11.7451L6.17541 11.8133L9.88338 11.8224C12.6192 11.8292 13.6311 11.8226 13.743 11.7974C13.9905 11.7416 14.2265 11.6041 14.4344 11.3945C14.7637 11.0626 14.7385 11.1483 15.3985 8.11619C15.7177 6.64985 15.9862 5.36133 15.9951 5.25283C16.0545 4.5317 15.5683 3.82302 14.8983 3.65428C14.7448 3.61563 14.169 3.60974 10.5097 3.60935C5.89309 3.60888 6.19416 3.59745 6.01444 3.77986C5.89733 3.89873 5.84983 4.01795 5.84776 4.1981C5.84523 4.41831 5.93695 4.59279 6.1181 4.71243L6.25376 4.80201L10.4831 4.81674L14.7124 4.83147L14.7928 4.92769C14.8515 4.99786 14.8733 5.05389 14.8733 5.13476C14.8733 5.2946 13.7558 10.4034 13.7015 10.492C13.6006 10.6565 13.7614 10.6497 9.97987 10.6497C6.24814 10.6497 6.38452 10.6549 6.26132 10.5072C6.22333 10.4616 6.01111 9.51946 5.47063 6.99712C4.97638 4.69051 4.70803 3.49378 4.65989 3.38143C4.55792 3.14339 4.39402 2.92849 4.21058 2.79227C3.99301 2.63071 2.75011 2.02135 2.60044 2.00285C2.5308 1.99424 2.43696 2.00564 2.37474 2.03024ZM7.25059 13.0115C6.69693 13.1235 6.22178 13.6566 6.12995 14.2688C6.04623 14.8272 6.29286 15.422 6.74057 15.7415C7.167 16.0458 7.69794 16.081 8.16035 15.8356C8.91371 15.4358 9.16483 14.4087 8.69355 13.6546C8.3807 13.1539 7.80805 12.8987 7.25059 13.0115ZM12.1302 13.0115C11.9013 13.0578 11.6056 13.2282 11.4315 13.4143C11.1798 13.6833 11.0574 13.9448 11.0159 14.3027C10.9235 15.0987 11.4087 15.8091 12.1558 15.9715C13.076 16.1715 13.9418 15.2892 13.807 14.289C13.6918 13.4342 12.9257 12.8505 12.1302 13.0115ZM7.75481 14.0049C7.88116 14.0738 7.93916 14.1407 7.99389 14.2807C8.04996 14.4241 8.0466 14.5852 7.98443 14.7298C7.92419 14.87 7.86272 14.9328 7.72603 14.9938C7.54709 15.0737 7.31259 15.0331 7.17284 14.8981C6.97129 14.7033 6.97074 14.2808 7.17185 14.0928C7.33219 13.9428 7.57405 13.9063 7.75481 14.0049ZM12.7156 14.0562C12.87 14.188 12.9208 14.3114 12.9094 14.5274C12.8977 14.7504 12.8032 14.8997 12.6184 14.9871C12.147 15.2099 11.7047 14.644 11.9901 14.1832C12.1435 13.9354 12.5009 13.8729 12.7156 14.0562Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 1px;
}

.rating-stars span {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65747 0L9.12617 3.60213L13.3149 4.83688L10.6519 8.29787L10.772 12.6631L6.65747 11.2L2.54297 12.6631L2.66303 8.29787L7.48634e-05 4.83688L4.18877 3.60213L6.65747 0Z' fill='%23BDBCBF'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rating-stars[data-rating="1"] span:nth-child(-n+1),
.rating-stars[data-rating="2"] span:nth-child(-n+2),
.rating-stars[data-rating="3"] span:nth-child(-n+3),
.rating-stars[data-rating="4"] span:nth-child(-n+4),
.rating-stars[data-rating="5"] span:nth-child(-n+5) {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65747 0L9.12617 3.60213L13.3149 4.83688L10.6519 8.29787L10.772 12.6631L6.65747 11.2L2.54297 12.6631L2.66303 8.29787L7.48634e-05 4.83688L4.18877 3.60213L6.65747 0Z' fill='%23FFDD2C'/%3E%3C/svg%3E%0A");
}

.header {
  position: relative;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header__top {
  background-color: var(--color-grey-200);
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (max-width: 767px) {
  .header__top {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

@media (max-width: 999px) {
  .header__top-wrapper {
    justify-content: center;
  }
}
@media (max-width: 999px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.2s ease;
    padding: var(--wrap);
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--color-white);
    padding: 40px 20px;
  }
}
.header__menu._active {
  left: 0;
}

.header__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media (max-width: 999px) {
  .header__menu > ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    gap: 30px;
  }
}
.header__menu > ul li a {
  color: var(--color-black);
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: center;
  font-size: 14px;
}

html:not(.v-mobile) .header__menu > ul li a:hover {
  color: var(--color-red);
}

html:not(.v-mobile) .header__menu > ul li a:focus-visible {
  color: var(--color-red);
}

@media (max-width: 1279px) {
  .header__menu > ul li a {
    font-size: 12px;
  }
}
@media (max-width: 999px) {
  .header__menu > ul li a {
    font-size: 24px;
  }
}
.header__menu-close {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 999px) {
  .header__menu-close {
    display: flex;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__phone span {
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  transition: 0.2s ease;
  line-height: 120%;
}

html:not(.v-mobile) .header__phone span:hover {
  color: var(--color-red);
}

html:not(.v-mobile) .header__phone span:focus-visible {
  color: var(--color-red);
}

@media (max-width: 1279px) {
  .header__phone span {
    font-size: 12px;
  }
}
@media (max-width: 999px) {
  .header__phone svg {
    width: 30px;
    height: auto;
  }
}
.header__schedule {
  color: var(--color-grey-100);
  font-size: 11px;
  line-height: 115%;
}

.header__messengers {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 479px) {
  .header__messengers {
    display: none;
  }
}
.header__messengers a {
  display: flex;
  align-items: center;
}

.header__bottom {
  padding: 20px 0;
}

@media (max-width: 767px) {
  .header__bottom {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.header__bottom-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 479px) {
  .header__bottom-wrapper {
    gap: 16px;
  }
}
.header__logo {
  width: 170px;
  min-width: 120px;
}

@media (max-width: 999px) {
  .header__logo {
    width: 130px;
  }
}
.header__logo a {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__location {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__location {
    display: none;
  }
}
.header__location-icon {
  display: flex;
}

.header__location-city {
  font-size: 15px;
  line-height: 115%;
}

.header__location-arrow {
  display: flex;
  margin-left: auto;
  transition: 0.2s ease;
}

.header__location-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: grid;
  gap: 14px;
  width: 131px;
  background-color: var(--color-white);
  padding: 14px 36px;
  transition: 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.header__location-item {
  transition: 0.2s ease;
  font-size: 15px;
  line-height: 115%;
}

.header__location-item:hover {
  color: var(--color-red);
}

.header__location-item:focus-visible {
  color: var(--color-red);
}

.header__location:hover .header__location-arrow {
  transform: rotate(180deg);
}

.header__location:hover .header__location-list {
  opacity: 1;
  visibility: visible;
}

.header__location:focus-visible .header__location-arrow {
  transform: rotate(180deg);
}

.header__location:focus-visible .header__location-list {
  opacity: 1;
  visibility: visible;
}

.header__catalog {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  transition: 0.2s ease;
  padding: 13px 25px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__catalog._desk {
    display: none;
  }
}
.header__catalog._mob {
  display: none;
  margin-top: 50px;
  max-width: 480px;
}

@media (max-width: 767px) {
  .header__catalog._mob {
    display: flex;
    justify-content: center;
  }
}
html:not(.v-mobile) .header__catalog:hover {
  background-color: var(--color-white);
}

html:not(.v-mobile) .header__catalog:hover .header__catalog-text {
  color: var(--color-red);
}

html:not(.v-mobile) .header__catalog:hover svg {
  fill: var(--color-red);
}

html:not(.v-mobile) .header__catalog:focus-visible {
  background-color: var(--color-white);
}

html:not(.v-mobile) .header__catalog:focus-visible .header__catalog-text {
  color: var(--color-red);
}

html:not(.v-mobile) .header__catalog:focus-visible svg {
  fill: var(--color-red);
}

.header__catalog._active {
  background-color: var(--color-white);
}

.header__catalog-icon {
  display: flex;
}

.header__catalog-icon svg {
  transition: 0.2s ease;
}

.header__catalog._active .header__catalog-icon svg {
  fill: var(--color-red);
}

.header__catalog-text {
  font-size: 15px;
  line-height: 115%;
  color: var(--color-white);
  transition: 0.2s ease;
}

.header__catalog._active .header__catalog-text {
  color: var(--color-red);
}

.header__catalog-arrow {
  display: flex;
  margin-left: auto;
  transition: 0.2s ease;
}

.header__catalog-arrow svg {
  transition: 0.2s ease;
}

.header__catalog._active .header__catalog-arrow svg {
  fill: var(--color-red);
}

.header__catalog-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.2s ease;
  opacity: 0;
  visibility: hidden;
  padding-top: 21px;
}

.header__catalog-list._active {
  opacity: 1;
  visibility: visible;
}

.header__catalog-list--wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 14px;
  padding: 14px 36px;
  background-color: var(--color-grey-200);
  border-radius: 5px;
}

.header__catalog-item {
  transition: 0.2s ease;
  font-size: 15px;
  line-height: 115%;
}

.header__catalog-item:hover {
  color: var(--color-red);
}

.header__catalog-item:focus-visible {
  color: var(--color-red);
}

.header__catalog._active .header__catalog-arrow {
  transform: rotate(180deg);
}

.header__search {
  position: relative;
  max-width: 576px;
  width: 100%;
}

@media (max-width: 999px) {
  .header__search {
    position: unset;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    margin-left: auto;
  }
}
.header__search input {
  width: 100%;
  padding: 16px 60px 16px 20px;
  border: 1px solid var(--color-grey-150);
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s ease;
  outline: none;
}

@media (max-width: 999px) {
  .header__search input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
}
.header__search:hover input {
  opacity: 1;
  visibility: visible;
}

.header__search svg {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

html:not(.v-mobile) .header__search svg:hover {
  fill: var(--color-red);
}

html:not(.v-mobile) .header__search svg:focus-visible {
  fill: var(--color-red);
}

@media (max-width: 999px) {
  .header__search svg {
    position: relative;
    top: 0;
    left: 0;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (max-width: 999px) {
  .header__buttons {
    gap: 20px;
  }
}
@media (max-width: 479px) {
  .header__buttons {
    gap: 16px;
  }
}
.header__buttons-item {
  position: relative;
  display: flex;
}

html:not(.v-mobile) .header__buttons-item:hover:first-child svg {
  stroke: var(--color-red);
}

html:not(.v-mobile) .header__buttons-item:hover:not(:first-child) svg {
  fill: var(--color-red);
}

html:not(.v-mobile) .header__buttons-item:focus-visible:first-child svg {
  stroke: var(--color-red);
}

html:not(.v-mobile) .header__buttons-item:focus-visible:not(:first-child) svg {
  fill: var(--color-red);
}

.header__buttons-item svg {
  transition: 0.2s ease;
}

.header__buttons-item span {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 479px) {
  .header__buttons-item.favorite {
    display: none;
  }
}
@media (min-width: 1000px) {
  .header__burger {
    display: none;
  }
}
.banner {
  position: relative;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}

.banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner__wrapper {
  position: relative;
  padding-top: 128px;
  padding-bottom: 190px;
  color: var(--color-white);
}

@media (max-width: 767px) {
  .banner__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.banner__title {
  color: var(--color-white);
}

.banner__text {
  max-width: 412px;
  margin-top: 20px;
  font-size: 22px;
  line-height: 130%;
  color: var(--color-grey-150);
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 18px;
    color: var(--color-white);
    margin-top: 14px;
  }
}
.banner__button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .banner__button {
    margin-top: 20px;
  }
}
.benefits__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 35px 0;
}

@media (max-width: 999px) {
  .benefits__wrapper {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .benefits__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479px) {
  .benefits__wrapper {
    gap: 30px 16px;
  }
}
.benefits__item {
  position: relative;
  display: flex;
  gap: 12px;
}

.benefits__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  width: 1px;
  height: 54px;
  background-color: var(--color-grey-150);
}

@media (max-width: 999px) {
  .benefits__item:not(:last-child):after {
    right: -15px;
  }
}
@media (max-width: 767px) {
  .benefits__item:not(:last-child):after {
    display: none;
  }
}
.benefits__item-icon {
  display: flex;
  width: 100%;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
}

@media (max-width: 999px) {
  .benefits__item-icon {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
  }
}
.benefits__item-icon img,
.benefits__item-icon svg {
  width: 100%;
  height: auto;
}

.benefits__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: var(--color-grey-100);
}

@media (max-width: 999px) {
  .benefits__item-text {
    font-size: 12px;
  }
}
.benefits__item-text strong {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-black);
}

@media (max-width: 999px) {
  .benefits__item-text strong {
    font-size: 16px;
  }
}
.catalog {
  overflow: hidden;
}

.catalog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.catalog__slider {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .catalog__slider {
    margin-top: 20px;
  }
}
.catalog__slider .swiper {
  overflow: visible;
}

.catalog__item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 27px 27px;
  border-radius: 5px;
  overflow: hidden;
}

html:not(.v-mobile) .catalog__item:hover:before {
  transform: scale(1.2);
}

html:not(.v-mobile) .catalog__item:hover .catalog__item-title {
  color: var(--color-red);
}

html:not(.v-mobile) .catalog__item:hover .catalog__item-btn {
  background: var(--color-black);
  color: var(--color-white);
}

html:not(.v-mobile) .catalog__item:hover .catalog__item-btn svg {
  stroke: var(--color-white);
}

html:not(.v-mobile) .catalog__item:focus-visible:before {
  transform: scale(1.2);
}

html:not(.v-mobile) .catalog__item:focus-visible .catalog__item-title {
  color: var(--color-red);
}

html:not(.v-mobile) .catalog__item:focus-visible .catalog__item-btn {
  background: var(--color-black);
  color: var(--color-white);
}

html:not(.v-mobile) .catalog__item:focus-visible .catalog__item-btn svg {
  stroke: var(--color-white);
}

.catalog__item:before {
  content: "";
  display: block;
  width: 226px;
  height: 196px;
  background: var(--color-white);
  border-radius: 200px 0px 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  transition: 0.2s ease;
}

.catalog__item-title {
  position: relative;
  max-width: 250px;
  transition: 0.2s ease;
}

.catalog__item-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
  max-width: 188px;
  max-height: 157px;
}

@media (max-width: 479px) {
  .catalog__item-image {
    right: 0;
  }
}
.catalog__item-image img {
  width: auto;
  height: 100%;
  max-width: 100%;
}

.catalog__item-btn {
  position: relative;
  margin-top: 100px;
  padding: 8px 16px;
  font-size: 12px;
}

@media (max-width: 479px) {
  .catalog__btn._desk {
    display: none;
  }
}
.catalog__btn._mob {
  margin: 30px auto 0;
}

@media (min-width: 480px) {
  .catalog__btn._mob {
    display: none;
  }
}
.related__top {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .related__top {
    gap: 30px;
  }
}
.related__category {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-grey-100);
  transition: 0.2s ease;
  cursor: pointer;
}

html:not(.v-mobile) .related__category:hover {
  color: var(--color-black);
}

html:not(.v-mobile) .related__category:focus-visible {
  color: var(--color-black);
}

.related__category.active {
  color: var(--color-black);
}

.related__category.active:before {
  left: 0;
  width: 100%;
}

.related__category:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  width: 0px;
  height: 3px;
  background-color: var(--color-red);
  transition: 0.2s ease;
}

.related__category:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 100%;
  background-color: var(--color-grey-150);
}

@media (max-width: 767px) {
  .related__category:not(:last-child):after {
    display: none;
  }
}
.related__slider {
  margin-top: 40px;
}

.related__slider:not(.active) {
  display: none;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 999px) {
  .cta__wrapper {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.cta__item {
  position: relative;
  border-radius: 5px;
  padding: 35px 40px;
  overflow: hidden;
}

@media (max-width: 479px) {
  .cta__item {
    padding: 30px 20px;
  }
}
.cta__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cta__item-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cta__item-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: right;
}

@media (max-width: 767px) {
  .cta__item-image {
    height: 70%;
  }
}
.cta__item-image img {
  position: relative;
  width: auto;
  height: 100%;
  z-index: 1;
}

.cta__item-title {
  position: relative;
  color: var(--color-white);
  font-size: 30px;
  max-width: 280px;
  line-height: 100%;
}

.cta__item:last-child .cta__item-title {
  color: var(--color-black);
}

.cta__item-text {
  position: relative;
  color: var(--color-grey-150);
  font-size: 20px;
  max-width: 250px;
  line-height: 115%;
  margin-top: 10px;
  margin-bottom: 22px;
}

.cta__item:last-child .cta__item-text {
  color: var(--color-grey-100);
}

.cta__item-search {
  position: relative;
  margin-top: auto;
  height: 50px;
  max-width: 325px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cta__item-search input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--color-grey-150);
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s ease;
  outline: none;
}

.cta__item-search button {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--color-red);
  outline: none;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}

html:not(.v-mobile) .cta__item-search button:hover {
  background-color: var(--color-black);
}

html:not(.v-mobile) .cta__item-search button:focus-visible {
  background-color: var(--color-black);
}

.cta__item-btn {
  position: relative;
}

.reviews__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.reviews__slider {
  margin-top: 32px;
}

.reviews__item {
  padding: 25px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px rgba(210, 210, 210, 0.5019607843);
}

.reviews__item-top {
  display: flex;
  gap: 20px;
}

.reviews__item-image {
  position: relative;
  display: block;
  max-width: 98px;
  max-height: 83px;
  border-radius: 5px;
  overflow: hidden;
}

.reviews__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s ease;
}

html:not(.v-mobile) .reviews__item-image:hover img {
  transform: scale(1.1);
}

html:not(.v-mobile) .reviews__item-image:focus-visible img {
  transform: scale(1.1);
}

.reviews__item-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews__item-title {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-black);
  line-height: 115%;
  transition: 0.2s ease;
}

html:not(.v-mobile) .reviews__item-title:hover {
  color: var(--color-red);
}

html:not(.v-mobile) .reviews__item-title:focus-visible {
  color: var(--color-red);
}

.reviews__item-author {
  font-size: 13px;
  color: var(--color-grey-100);
}

.reviews__item-text {
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-grey-050);
  line-height: 150%;
}

@media (max-width: 479px) {
  .reviews__btn._desk {
    display: none;
  }
}
.reviews__btn._mob {
  margin: 30px auto 0;
}

@media (min-width: 480px) {
  .reviews__btn._mob {
    display: none;
  }
}
.seo__text {
  position: relative;
  color: var(--color-grey-050);
  line-height: 150%;
}

.seo__text:not(.active) {
  max-height: 300px;
  overflow: hidden;
}

.seo__text:not(.active):before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 32.29%, rgba(255, 255, 255, 0.8) 100%);
  z-index: 2;
}

.seo__text > * + * {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .seo__text > * + * {
    margin-top: 16px;
  }
}
.seo__text strong {
  font-weight: 600;
  color: var(--color-black);
}

.seo__text a {
  color: var(--color-red);
  text-decoration: underline;
}

html:not(.v-mobile) .seo__text a:hover {
  text-decoration: none;
}

html:not(.v-mobile) .seo__text a:focus-visible {
  text-decoration: none;
}

.seo__text ul {
  list-style: disc;
  margin-left: 22px;
}

.seo__text ol {
  list-style: decimal;
  margin-left: 22px;
}

.seo__btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

html:not(.v-mobile) .seo__btn:hover span {
  color: var(--color-red);
}

html:not(.v-mobile) .seo__btn:hover svg {
  stroke: var(--color-red);
}

html:not(.v-mobile) .seo__btn:focus-visible span {
  color: var(--color-red);
}

html:not(.v-mobile) .seo__btn:focus-visible svg {
  stroke: var(--color-red);
}

.seo__btn span {
  color: var(--color-black);
  transition: 0.2s ease;
}

.seo__btn svg {
  transition: 0.2s ease;
}

.subscribe {
  position: relative;
  background-color: #3D3D3D;
  background-image: linear-gradient(90.06deg, rgba(0, 0, 0, 0) 50.05%, rgba(0, 0, 0, 0.7) 105.87%);
  padding: 50px 0;
  margin-top: 20px;
}

.subscribe__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
  z-index: 0;
}

@media (max-width: 767px) {
  .subscribe__bg {
    display: none;
  }
}
.subscribe__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .subscribe__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.subscribe__text {
  max-width: 363px;
  width: 100%;
  font-size: 18px;
  line-height: 125%;
  color: var(--color-white);
}

.subscribe__form {
  width: 100%;
}

.subscribe__form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe__form-wrapper input[type=email] {
  max-width: 458px;
  width: 100%;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--color-grey-150);
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s ease;
  outline: none;
}

@media (max-width: 767px) {
  .subscribe__form-wrapper input[type=email] {
    padding: 10px 16px;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.popup.active {
  display: flex;
}

.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.popup__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup__content {
  position: relative;
  width: 100%;
  max-width: 463px;
  padding: 54px;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.popup__close {
  position: absolute;
  top: 17px;
  right: 21px;
  cursor: pointer;
}

.popup__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
}

.popup__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 95%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-top: 8px;
}

.popup__form {
  margin-top: 32px;
}

.popup__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.popup__form-wrapper input {
  font-size: 16px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  border: none;
  border-bottom: 1px solid var(--color-black);
  padding: 4px 0;
  background: none;
  outline: none;
  width: 100%;
}

.popup__form-wrapper input::-moz-placeholder {
  color: var(--color-black);
}

.popup__form-wrapper input::placeholder {
  color: var(--color-black);
}

.popup__form-wrapper input[type=submit] {
  padding: 10px;
  max-width: 213px;
  font-size: 16px;
}

.popup__form-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.popup__form-wrapper label span {
  font-size: 16px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  font-weight: 400;
}

.popup__form-wrapper label.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.popup__form-wrapper label.confirm input {
  width: 22px;
  height: 22px;
  margin: 0;
  accent-color: var(--color-green);
  border: 1px solid var(--color-black);
}

.popup__form-wrapper label.confirm span {
  font-size: 10px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  font-weight: 400;
}

.popup__form-wrapper label.confirm a {
  font-weight: 400;
  text-decoration: underline;
  color: var(--color-black);
}

.popup__form-wrapper textarea {
  background-color: #B2D810;
  border: none;
  resize: none;
  height: 81px;
  padding: 10px;
  color: #46483C;
  font-size: 12px;
  outline: none;
}

.popup__form-wrapper p {
  width: 100%;
  font-weight: 300;
  font-size: 12px;
  line-height: 115%;
  color: var(--color-black);
}

.popup__form-wrapper p a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-black);
}

.product-page {
  padding: 40px 0;
}
.product-page .breadcrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #999;
}
.product-page .breadcrumbs a {
  color: #999;
}
.product-page .breadcrumbs a:hover {
  color: #ff0000;
}
.product-page__wrapper {
  display: flex;
  gap: 66px;
}

.product-gallery__main {
  border-radius: 5px;
  margin-bottom: 13px;
}
.product-gallery__main img {
  width: 100%;
  display: block;
}
.product-gallery__thumbs {
  display: flex;
  gap: 14px;
  width: 570px;
  height: 132px;
}
.product-gallery__thumb {
  width: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  width: 132px;
}
.product-gallery__thumb.active {
  border-color: #ff0000;
}
.product-gallery__thumb img {
  width: 100%;
  display: block;
  height: 100%;
}

.product-info__title {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  color: #010101;
}
.product-info__meta {
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 24px;
}
.product-info__meta p {
  color: #777;
}
.product-info__meta p:first-child {
  margin-bottom: 15px;
}
.product-info__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-rating a {
  color: #ff0000;
}

.favorite-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.product-status {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #00a67e;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
.product-price .current-price {
  font-weight: 600;
  font-size: 34px;
  line-height: 0.88;
  color: #000000;
}
.product-price .old-price {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  line-height: 90%;
  color: var(--grey-stroke);
}
.product-price .discount {
  background: #ff0000;
  color: #fff;
  border-radius: 2px;
  padding: 10px 12px;
  width: 35px;
  height: 14px;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-35px, -25px);
}

.product-actions__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  margin-bottom: 7px;
}

.product-actions {
  display: flex;
  gap: 9px;
  margin-bottom: 47px;
  flex-wrap: wrap;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #BDBCBF;
  border-radius: 5px;
  width: 110px;
  height: 45px;
}
.quantity button {
  width: 45px;
  height: 45px;
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
}
.quantity input {
  width: 60px;
  text-align: center;
  border: none;
  font-size: 18px;
}

.buy-btn {
  background: url(../assets/basket.svg) no-repeat 60px, #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 20px;
  width: 210px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding-left: 50px;
}

.quick-btn {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  padding: 14px 20px;
  width: 210px;
  height: 45px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #000000;
}

.product-description {
  margin-bottom: 40px;
}
.product-description .description-text {
  max-height: 90px;
  overflow: hidden;
  transition: 0.3s;
}
.product-description.active .description-text {
  max-height: 500px;
}

.more-btn {
  margin-top: 15px;
  border: none;
  background: transparent;
  color: #ff0000;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #BDBCBF;
}

.product-features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 767px) {
  .product-features {
    grid-template-columns: 1fr;
  }
}

.feature-card {
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 19px;
  width: 330px;
  height: 50px;
}
.feature-card h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}
.feature-card p {
  color: #777;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #000000;
}

.tabs {
  margin-top: 60px;
}
.tabs__buttons {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.tab-btn {
  padding: 15px 25px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.08;
  color: #010101;
}
.tab-btn.active {
  border-bottom: 2px solid #ff0000;
}

.tab-content {
  display: none;
}
.tab-content h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.08;
  color: #010101;
}
.tab-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.tab-content.active {
  display: block;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
}
.modal.active {
  display: block;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  background: #fff;
  border-radius: 10px;
}
.modal-content__menu {
  width: 722px;
  height: 77px;
  background: #000000;
  padding: 25px 30px;
  margin-bottom: 39px;
}
.modal-content__menu h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  color: #fff;
}
.modal-content__number {
  color: #ff0000;
}

.cart-modal {
  top: 0;
  right: 0;
  width: 722px;
  height: 628px;
}

.quick-modal {
  width: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 25px;
  border: none;
  background: url(../assets/cross.svg) no-repeat center;
  font-size: 28px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.cart-item img {
  border-radius: 5px;
  width: 132px;
  height: 132px;
}

.cart-quantity {
  display: flex;
  margin-top: 10px;
}
.cart-quantity button {
  width: 35px;
  height: 35px;
}
.cart-quantity input {
  width: 50px;
  text-align: center;
}

.quick-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.quick-form input {
  height: 50px;
  padding: 0 15px;
}
.quick-form button {
  height: 50px;
  background: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
}

.footer {
  position: relative;
  background: #181313;
  padding: 82px 0;
  overflow: hidden;
  color: #fff;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  z-index: 2;
}
.footer__logo {
  width: 224px;
}
.footer__logo li:first-child {
  width: 168px;
  height: 53px;
  margin-bottom: 29px;
}
.footer__description {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 1.54;
  color: #A2A2A4;
}
.footer__title {
  margin-bottom: 39px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  color: #F7F7F7;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer .contacts {
  width: 276px;
}
.footer .catalog {
  width: 245px;
}
.footer .consumer {
  width: 162px;
}
.footer .social-media {
  width: 179px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__menu li {
  list-style: none;
}
.footer__menu a {
  font-size: 14px;
  line-height: 2.57;
  color: #A2A2A4;
}
.footer__menu a:hover {
  color: #fff;
}
.footer__item {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__item:not(:last-child) {
  margin-bottom: 22px;
}
.footer__item:first-child {
  font-weight: 500;
}
.footer__item svg {
  flex-shrink: 0;
  margin-top: 2px;
}
.footer__item a {
  font-weight: 500;
  color: #fff;
}
.footer__item a:hover {
  color: #fff;
}
.footer__item-content {
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer .info {
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer .email {
  font-size: 14px;
  color: #A2A2A4;
}
.footer .street {
  font-size: 14px;
  line-height: 1.29;
  color: #A2A2A4;
}
.footer .icon {
  gap: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.footer__messengers {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__messengers a {
  font-size: 13px;
  color: #9FC55A;
}
.footer__messengers a:hover {
  color: #fff;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__socials a {
  transition: 0.3s ease;
}
.footer__socials a:hover {
  transform: translateY(-3px);
}
.footer__bottom {
  margin-top: 89px;
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 2;
}
.footer__bottom p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.45);
}
.footer__bottom-links {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer__bottom-links a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.45);
  transition: 0.3s ease;
}
.footer__bottom-links a:hover {
  color: #fff;
}
.footer__bg {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.footer__bg img {
  display: block;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */