.footer {
    position: relative;
    background: $colorBlackRed;
    padding: 82px 0;
    overflow: hidden;
    color: $colorWhite;

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;

        position: relative;
        z-index: 2;
    }

    &__logo {
        width: 224px;

        li:first-child {
            width: 168px;
            height: 53px;
            margin-bottom: 29px;
        }

    }

    &__description {
        font-family: var(--font-family);
        font-size: 13px;
        line-height: 1.54;
        color: $colorGreyStroke;
    }

    &__title {
        margin-bottom: 39px;
        color: $colorWhite;
        font-weight: 500;
        font-size: 20px;
        color: $colorGreyLight;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    .contacts {
        width: 276px;
    }

    .catalog {
        width: 245px;
    }

    .consumer {
        width: 162px;
    }

    .social-media {
        width: 179px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            list-style: none;
        }

        a {
            font-size: 14px;
            line-height: 2.57;
            color: $colorGreyStroke;

            &:hover {
                color: $colorWhite;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;


        &:not(:last-child) {
            margin-bottom: 22px;
        }

        &:first-child {
            font-weight: 500;
        }

        svg {
            flex-shrink: 0;
            margin-top: 2px;
        }

        a {
            font-weight: 500;
            color: $colorWhite;

            &:hover {
                color: $colorWhite;
            }
        }
    }

    &__item-content {
        gap: 10px;
        align-items: center;
        display: flex;
        justify-content: center;


    }

    .info {
        gap: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .email {
        font-size: 14px;
        color: $colorGreyStroke;
    }

    .street {
        font-size: 14px;
        line-height: 1.29;
        color: $colorGreyStroke;
    }

    .icon {
        gap: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        padding-left: 10px;
    }

    &__messengers {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
            font-size: 13px;
            color: $colorGreen;

            &:hover {
                color: $colorWhite;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            transition: 0.3s ease;

            &:hover {
                transform: translateY(-3px);
            }
        }
    }

    &__bottom {
        margin-top: 89px;

        display: flex;
        align-items: center;
        gap: 80px;
        position: relative;
        z-index: 2;

        p {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.45);
        }
    }

    &__bottom-links {
        display: flex;
        align-items: center;
        gap: 22px;

        a {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.45);
            transition: 0.3s ease;

            &:hover {
                color: $colorWhite;
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;

        pointer-events: none;

        img {
            display: block;
            max-width: 100%;
        }
    }
}