.product-page {
    padding: 40px 0;

    .breadcrumbs {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        color: #999;

        a {
            color: #999;

            &:hover {
                color: $colorRed;
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 66px;

    }
}

.product-gallery {

    &__main {
        border-radius: 5px;
        margin-bottom: 13px;

        img {
            width: 100%;
            display: block;
        }
    }

    &__thumbs {
        display: flex;
        gap: 14px;
        width: 570px;
        height: 132px;
    }

    &__thumb {
        width: 100px;
        border: 1px solid transparent;
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        width: 132px;

        &.active {
            border-color: $colorRed;
        }

        img {
            width: 100%;
            display: block;
            height: 100%;
        }
    }
}


.product-info {
    width: 769px;

    &__title {
        margin-bottom: 17px;
        font-weight: 500;
        font-size: 36px;
        color: #010101;
    }

    &__characteristic {
        display: flex;
        gap: 441px;
        margin-bottom: 24px;
    }

    &__meta {
        gap: 15px;
        display: flex;
        flex-direction: column;

        p {
            font-weight: 400;
            font-size: 14px;
            color: var(--color-grey-150);
        }

    }

    .black {
        color: var(--color-black);
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;


        a {
            color:  var(--color-red);
        }
    }
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        color: $colorRed;
    }
}

.favorite-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.product-status {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #00a67e;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    .current-price {
        font-weight: 600;
        font-size: 34px;
        color: $colorBlack;
    }

    .old-price {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 20px;
        color: var(--grey-stroke);
    }

    .discount {
        background: $colorRed;
        color: $colorWhite;
        border-radius: 2px;
        padding: 10px 12px;
        width: 35px;
        height: 14px;
        font-weight: 500;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-35px, -25px);
    }
}

.product-actions__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $colorBlack;
    margin-bottom: 7px;
}

.product-actions {
    display: flex;
    gap: 9px;
    margin-bottom: 47px;
    flex-wrap: wrap;
}

.quantity {
    display: flex;
    align-items: center;
    border: 1px solid $colorGrey;
    border-radius: 5px;
    width: 110px;
    height: 45px;

    button {
        width: 45px;
        height: 45px;
        border: none;
        background: $colorWhite;
        cursor: pointer;
        font-size: 20px;

    }

    input {
        width: 60px;
        text-align: center;
        border: none;
        font-size: 18px;
    }
}

.buy-btn {
    background: url(../assets/basket.svg) no-repeat 60px, $colorRed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: $colorWhite;
    padding-left: 50px;
}

.quick-btn {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $colorBlack;
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: $colorBlack;
}

.product-description {
    margin-bottom: 40px;

    .description-text {
        max-height: 90px;
        overflow: hidden;
        transition: .3s;
    }

    &.active {
        .description-text {
            max-height: 500px;
        }
    }
}

.more-btn {
    margin-top: 15px;
    border: none;
    background: transparent;
    color: $colorRed;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $colorGrey;
}

.product-features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media(max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.feature-card {
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    gap: 19px;
    width: 330px;
    height: 50px;

    h4 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: $colorBlack;

    }

    p {
        color: #777;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        color: $colorBlack;
    }

}

.tabs {
    margin-top: 60px;

    &__buttons {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }
}

.tab-btn {
    padding: 15px 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.08;
    color: #010101;

    &.active {
        border-bottom: 2px solid $colorRed;
    }
}

.tab-content {
    display: none;

    h3 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.08;
        color: #010101;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        color: $colorBlack;
    }

    &.active {
        display: block;
    }

}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;

    &.active {
        display: block;
    }
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .6);
}

.modal-content {
    position: absolute;
    background: $colorWhite;
    border-radius: 10px;

    &__menu {
        width: 722px;
        height: 77px;
        background: $colorBlack;
        padding: 25px 30px;
        margin-bottom: 39px;

        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.44;
            color: $colorWhite;
        }


    }

    &__number {
        color: $colorRed;
    }
}

.cart-modal {
    top: 0;
    right: 0;
    width: 722px;
    height: 628px;
}

.quick-modal {
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 25px;
    border: none;
    background: url(../assets/cross.svg) no-repeat center;
    font-size: 28px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    gap: 20px;
    padding: 30px;

    img {
        border-radius: 5px;
        width: 132px;
        height: 132px;
    }

}


.cart-quantity {
    display: flex;
    margin-top: 10px;

    button {
        width: 35px;
        height: 35px;
    }

    input {
        width: 50px;
        text-align: center;
    }
}

.quick-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;

    input {
        height: 50px;
        padding: 0 15px;
    }

    button {
        height: 50px;
        background: $colorRed;
        color: white;
        border: none;
        cursor: pointer;
    }
}