.product-page {
    padding: 40px 0;

    .breadcrumbs {
        display: flex;
        gap: 10px;
        font-size: 14px;
        color: #999;
        flex-wrap: wrap;

        a {
            color: #999;

            &:hover {
                color: var(--color-red);
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 66px;
        margin-top: 33px;


        @media (max-width: 1450px) {
            flex-wrap: wrap; 
            justify-content: center;           
        }

        @media (max-width: 450px) {
            gap: 30px;
        }
    }
}

.product-gallery {

    &__main {
        border-radius: 5px;
        margin-bottom: 13px;

        img {
            width: 100%;
            display: block;
        }
    }

    &__thumbs {
        display: flex;
        gap: 14px;

        @media (max-width: 590px) {
            width: 570px;
            width: 100%;
        }
    }

    &__thumb {
        border: 1px solid transparent;
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        width: 132px;

        &.active {
            border-color: var(--color-red);
        }

        img {
            width: 100%;
            display: block;
            height: 100%;
        }

        @media (max-width: 590px) {
            width: 100%;
        }
    }
}


.product-info {

    &__title {
        margin-bottom: 17px;
        max-width: 769px;
        width: 100%;


        h1 {
            line-height: 1.11;
            font-weight: 500;
            font-size: 36px;
            color: #010101;      
            
            @media (max-width: 450px) {
                font-size: 30px;
            }
        }

        @media (max-width: 1450px) {
            text-align: center;
        }
    }

    &__characteristic {
        display: flex;
        gap: 441px;
        margin-bottom: 24px;

        @media (max-width: 1450px) {
            gap: 150px;
            text-align: center;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__meta {
        gap: 15px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        p {
            font-size: 14px;
            color: var(--color-grey-150);
        }

    }

    .black {
        color: var(--color-black);  
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
        padding: 0;

        li {
            font-size: 14px;
            color: var(--color-black);
            text-align: right;
        }


        a {
            color:  var(--color-red);
        }

    }

    @media (max-width: 1450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        color: var(--color-red);
    }
}

.favorite-btn {
    border: none;
    background: url(../assets/heart.svg) no-repeat center left 5px transparent;
    cursor: pointer;
    padding: 0 0 0 26px;
    font-size: 14px;
    color: var(--color-grey);
}

.product-status {
    margin-bottom: 11px;
    font-size: 14px;
    color: #00a67e;
    width: 108px;
    height: 25px;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    .current-price {
        font-weight: 600;
        font-size: 34px;
        line-height: 0.88;
        color: var(--color-black);
    }

    .old-price {
        text-decoration: line-through;
        font-size: 20px;
        color: var(--color-grey-stroke);
    }

    .discount {
        background: var(--color-red);
        color: var(--color-white);
        border-radius: 2px;
        padding: 10px 12px;
        width: 35px;
        height: 14px;
        font-weight: 500;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-35px, -25px);
    }
}

.product-actions__text {
    font-size: 14px;
    color: var(--color-black);
    margin-bottom: 7px;
}

.product-actions {
    display: flex;
    gap: 9px;
    margin-bottom: 47px;
    flex-wrap: wrap;

    @media (max-width: 590px) {
        justify-content: center;
    }
}

.quantity {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    width: 110px;
    height: 45px;

    button {
        width: 45px;
        height: 45px;
        border: none;
        background: var(--color-white);
        cursor: pointer;
        font-size: 20px;

    }

    input {
        width: 60px;
        text-align: center;
        border: none;
        font-size: 18px;
    }
}

.buy-btn {
    background: url(../assets/basket.svg) no-repeat 60px, var(--color-red);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding-left: 50px;
}

.quick-btn {
    background: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--color-black);
}

.product-description {
    margin-bottom: 56px;
    max-width: 773px;
    width: 100%;

    .description-text {
        max-height: 120px;
        overflow: hidden;
        transition: .3s;
    }

    &.active {
        .description-text {
            max-height: 500px;
        }
    }

    @media (max-width: 1450px) {
            text-align: center;
    }
}

.more-btn {
    margin-top: 15px;
    border: none;
    background: transparent;
    color: var(--color-red);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-grey);
}

.product-features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media(max-width: 1450px) {
        justify-content: center;
    }

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.feature-card__top {
    gap: 53px;
    display: flex;

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.feature-card__bottom {
    gap: 53px;
    display: flex;

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.feature-card {
    border-radius: 10px;
    display: flex;
    gap: 16px;
    width: 330px;
    height: 50px;

    h4 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--color-black);

    }

    p {
        color: #777;
        font-size: 12px;
        line-height: 1.17;
        color: var(--color-black);
    }

    img {
        width: 40px;
        height: 40px;
    }



}


.feature-card__text {

    h4 {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-black);
    margin: 0;
    margin-bottom: 6px;
    }

    p {
    font-size: 12px;
    color: var(--color-black);
    max-width: 255px;
    width: 100%;
    }
}

.feature-card__pay {
    gap: 10px;
    display: flex;

    img {
        height: 20px;
    }
}

.tabs {
    margin-top: 60px;

    &__buttons {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;

        @media (max-width: 850px) {
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            width: 100%;
            display: block;
        }
    }
}

.tab-btn {
    padding: 15px 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.08;
    color: #010101;

    &.active {
        border-bottom: 2px solid var(--color-red);
    }
}

.tab-content {
    display: none;

    h3 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.08;
        color: #010101;
    }

    p {
        line-height: 1.50;
        color: var(--color-black);
    }

    &.active {
        display: block;
    }

}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;

    &.active {
        display: block;
    }
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .6);
}

.modal-content {
    position: absolute;
    background: var(--color-white);
    border-radius: 10px;

    &__menu {
        width: 722px;
        height: 77px;
        background: var(--color-black);
        padding: 25px 30px;
        margin-bottom: 39px;

        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.44;
            color: var(--color-white);
        }


        @media (max-width: 770px) {
            width: 100%;
        }
    }

    &__number {
        color: var(--color-red);
    }
}

.cart-modal {
    top: 0;
    right: 0;
    width: 722px;
    height: 628px;

    @media (max-width: 770px) {
        width: 100%;
    }
}

.quick-modal {
    display: flex;
    flex-direction: column;
    width: 686px;
    height: 342px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

    h3 {
        padding: 63px 83px 0 83px;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #010101;
        margin-bottom: 7px;
    }

    p {
        font-size: 14px;
        text-align: center;
        color: var(--color-grey);
        margin-bottom: 19px;
        max-width: 450px;

        @media (max-width: 420px) {
            width: 350px;
        }
    }

    @media (max-width: 700px) {
        width: 100%;
    }
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 25px;
    border: none;
    background: url(../assets/cross.svg) no-repeat center;
    font-size: 28px;
    cursor: pointer;
}

.modal-end {
    padding: 0px 33px;

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;

        p {
            font-weight: 500;
            color: #202020;
        }
        
        h3 {
            font-weight: 600;
            font-size: 24px;
            text-align: right;
            color: #202020;            
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        @media (max-width: 650px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

.continue {
    background: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--color-black);
}

button.arrange {
    background: var(--color-red);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 20px;
    width: 210px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--color-grey-stroke);
    padding: 0px 0px 25px 0px;
    width: 656px;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 26px;

    img {
        border-radius: 5px;
        width: 132px;
        height: 132px;
    }

    @media (max-width: 700px) {
        height: 200px;
    }

}

.cart-text {
    display: flex;
    gap: 130px;
    margin-bottom: 5px;

    h4 {
        font-weight: 500;
        color: #202020;
        margin: 0;
        max-width: 275px;
        width: 100%;

        @media (max-width: 450px) {
            width: 235px;
        }
    }

    @media (max-width: 700px) {
        gap: 20px;
        flex-direction: column;
    }
}

.cart-text__delit {
    font-size: 14px;
    line-height: 1.14;
    color: var(--red);
    background: url(../assets/trash.svg) no-repeat right var(--color-white);
    color: var(--color-red);
    border: none;
    cursor: pointer;
    padding-right: 24px;
    max-width: 92px;
    width: 100%;

}

.card-text__add {
    margin-bottom: 12px;

    p:first-child {
        font-size: 14px;
        color: var(--color-grey);    
        margin-bottom: 10px;    
    }

    p:last-child {
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        color: var(--color-black);        
    }

}


.cart {
    height: 35px;
}




.cart-quantity {
    display: flex;
    margin-top: 10px;

    button {
        width: 35px;
        height: 35px;
    }

    input {
        width: 50px;
        text-align: center;
    }
}

.quick-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 448px;
    align-items: center;

    input {
        border: 1px solid var(--color-grey-stroke);
        border-radius: 5px;
        padding: 15px 20px;
        width: 448px;
        height: 45px;

        @media (max-width: 480px) {
            width: 300px;
        }
    }

    button {
        background: var(--color-red);
        color: var(--color-white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 14px 20px;
        width: 210px;
        height: 45px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
}