$colorBlackRed:#181313;
$colorWhite:#fff;
$colorGreen:#9FC55A;
$colorBeige:#989898;
$colorBlack:#000000;
$colorRed:#ff0000;
$colorGrey:#BDBCBF; 
$colorGreyStroke:#A2A2A4; 
$colorGreyLight:#F7F7F7; 


